/* base */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,lengend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}
fieldset,img{border:0}
h1{font-size:150%}
h2{font-size:140%}
h3{font-size:120%}
h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
ul,ol{list-style:none}
a{text-decoration:none}
a:link,a:visited{text-decoration:none}
a:hover{text-decoration:underline}
q:before,q:after{content:'';}
button,input,select,textarea{font-size:100%}
input,select{vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}

/* clear */
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.clearfix{*zoom:1}
.clear{clear:both}

/* ie6、ie7 */

/* 修复IE6在 window.onload 或 domready 时重复下载Sprites图片的 Bug */ 
html{*zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}
.zm{*zoom:1}


/* 定位 */
.pr{position:relative}
.pa{position:absolute}
.fl{float:left;display:inline}
.fr{float:right;display:inline}

