@import "global.css";
/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 sna-
 */
/* @end **/
/*******************************
    Button Module
*******************************/
/*******************************
    Css3 Module
*******************************/
/*******************************
    Icon Module
*******************************/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-u42xjt');
  src: url('../fonts/icomoon.eot?#iefix-u42xjt') format('embedded-opentype'), url('../fonts/icomoon.woff?-u42xjt') format('woff'), url('../fonts/icomoon.ttf?-u42xjt') format('truetype'), url('../fonts/icomoon.svg?-u42xjt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sna-icon-iphone {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.sna-icon-iphone:before {
  content: "\e600";
}
/* =按扭组------- */
.sna-button {
  display: inline-block;
  height: 22px;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.sna-button:hover {
  text-decoration: none;
}
.sna-button-icon {
  display: inline-block;
  padding: 2px 10px 0 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.sna-button-icon:hover {
  text-decoration: none;
}
.sna-button-icon .sna-button-ic {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: -2px 10px 0 10px;
  _margin-top: -3px;
  overflow: hidden;
  vertical-align: middle;
}
.sna-button-gray {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  color: #808080;
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: linear-gradient(top, #ffffff 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#efefef, GradientType=0);
}
.sna-button-gray:hover {
  background: #e6e6e6;
  color: #808080;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e2e2e2));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%);
  background: linear-gradient(top, #fcfcfc 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc, endColorstr=#e2e2e2, GradientType=0);
}
.sna-button-gray .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #d6d6d6;
}
.sna-button-gray .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #d6d6d6;
}
.sna-button-red {
  background: #f44242;
  border: 1px solid #a40c0c;
  color: #ffffff;
  background: -moz-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f44242), color-stop(100%, #d40f0f));
  background: -webkit-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -o-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -ms-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: linear-gradient(top, #f44242 0%, #d40f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f44242, endColorstr=#d40f0f, GradientType=0);
}
.sna-button-red:hover {
  background: #f11212;
  color: #ffffff;
  background: -moz-linear-gradient(top, #f43d3d 0%, #bc0d0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f43d3d), color-stop(100%, #bc0d0d));
  background: -webkit-linear-gradient(top, #f43d3d 0%, #bc0d0d 100%);
  background: -o-linear-gradient(top, #f43d3d 0%, #bc0d0d 100%);
  background: -ms-linear-gradient(top, #f43d3d 0%, #bc0d0d 100%);
  background: linear-gradient(top, #f43d3d 0%, #bc0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f43d3d, endColorstr=#bc0d0d, GradientType=0);
}
.sna-button-red .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #a40c0c;
}
.sna-button-red .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #a40c0c;
}
.sna-button-flatBlue {
  background: #009bdd;
  border: 1px solid #009bdd;
  color: #ffffff;
}
.sna-button-flatBlue:hover {
  background: #0089c4;
  color: #ffffff;
}
.sna-button-flatBlue .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #0077aa;
}
.sna-button-flatBlue .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #0077aa;
}
.sna-button-flatYellow {
  background: #ffd72d;
  border: 1px solid #ffd72d;
  color: #ffffff;
}
.sna-button-flatYellow:hover {
  background: #ffd214;
  color: #ffffff;
}
.sna-button-flatYellow .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #f9ca00;
}
.sna-button-flatYellow .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #f9ca00;
}
.sna-button-flatGreen {
  background: #14aa00;
  border: 1px solid #14aa00;
  color: #ffffff;
}
.sna-button-flatGreen:hover {
  background: #119100;
  color: #ffffff;
}
.sna-button-flatGreen .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #0e7700;
}
.sna-button-flatGreen .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #0e7700;
}
.sna-button-flatRed {
  background: #d31e01;
  border: 1px solid #d31e01;
  color: #ffffff;
}
.sna-button-flatRed:hover {
  background: #ba1a01;
  color: #ffffff;
}
.sna-button-flatRed .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #a01701;
}
.sna-button-flatRed .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #a01701;
}
.sna-button-disable {
  cursor: default;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #dadada;
}
.sna-button-disable:hover {
  background: #e5e5e5;
  color: #dadada;
}
.sna-button-disable .sna-button-left {
  margin-left: -10px;
  border-right: 1px solid #d9d9d9;
}
.sna-button-disable .sna-button-right {
  margin-right: -10px;
  border-left: 1px solid #d9d9d9;
}
.sna-button-disable:hover {
  background: #f2f2f2;
}
.sna-button-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.sna-button-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
