/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 sna-
 */
/* @end **/
/*******************************
        按扭
*******************************/
/* =按扭组------- */
.sna-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.sna-button:hover {
  text-decoration: none;
}
.sna-button-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px 10px 0 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.sna-button-icon:hover {
  text-decoration: none;
}
.sna-button-icon .sna-button-ic {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: -2px 10px 0 10px;
  _margin-top: -3px;
  overflow: hidden;
  vertical-align: middle;
}
.sna-button-gray {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  color: #808080;
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
  background: linear-gradient(top, #ffffff 0%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#efefef, GradientType=0);
}
.sna-button-gray:hover {
  background: #e6e6e6;
  color: #000000;
  background: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8e8e8, GradientType=0);
}
.sna-button-gray .sna-button-ic-left {
  margin-left: -10px;
  background-color: #f2f2f2;
  border-right: 1px solid #d6d6d6;
}
.sna-button-gray .sna-button-ic-right {
  margin-right: -10px;
  background-color: #f2f2f2;
  border-left: 1px solid #d6d6d6;
}
.sna-button-red {
  background: #f44242;
  border: 1px solid #a40c0c;
  color: #ffffff;
  background: -moz-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f44242), color-stop(100%, #d40f0f));
  background: -webkit-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -o-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: -ms-linear-gradient(top, #f44242 0%, #d40f0f 100%);
  background: linear-gradient(top, #f44242 0%, #d40f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f44242, endColorstr=#d40f0f, GradientType=0);
}
.sna-button-red:hover {
  background: #f11212;
  color: #ffffff;
  background: -moz-linear-gradient(top, #d40f0f 0%, #f24400 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d40f0f), color-stop(100%, #f24400));
  background: -webkit-linear-gradient(top, #d40f0f 0%, #f24400 100%);
  background: -o-linear-gradient(top, #d40f0f 0%, #f24400 100%);
  background: -ms-linear-gradient(top, #d40f0f 0%, #f24400 100%);
  background: linear-gradient(top, #d40f0f 0%, #f24400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d40f0f, endColorstr=#f24400, GradientType=0);
}
.sna-button-red .sna-button-ic-left {
  margin-left: -10px;
  background-color: #f32a2a;
  border-right: 1px solid #a40c0c;
}
.sna-button-red .sna-button-ic-right {
  margin-right: -10px;
  background-color: #f32a2a;
  border-left: 1px solid #a40c0c;
}
.sna-button-flatBlue {
  background: #009bdd;
  color: #ffffff;
}
.sna-button-flatBlue:hover {
  background: #009bdd;
  color: #ffffff;
}
.sna-button-flatBlue .sna-button-ic-left {
  margin-left: -10px;
  background-color: #0089c4;
  border-right: 1px solid #0089c4;
}
.sna-button-flatBlue .sna-button-ic-right {
  margin-right: -10px;
  background-color: #0089c4;
  border-left: 1px solid #0089c4;
}
.sna-button-flatYellow {
  background: #ffd72d;
  color: #ffffff;
}
.sna-button-flatYellow:hover {
  background: #ffd72d;
  color: #ffffff;
}
.sna-button-flatYellow .sna-button-ic-left {
  margin-left: -10px;
  background-color: #ffd214;
  border-right: 1px solid #ffd214;
}
.sna-button-flatYellow .sna-button-ic-right {
  margin-right: -10px;
  background-color: #ffd214;
  border-left: 1px solid #ffd214;
}
.sna-button-flatGreen {
  background: #14aa00;
  color: #ffffff;
}
.sna-button-flatGreen:hover {
  background: #14aa00;
  color: #ffffff;
}
.sna-button-flatGreen .sna-button-ic-left {
  margin-left: -10px;
  background-color: #119100;
  border-right: 1px solid #119100;
}
.sna-button-flatGreen .sna-button-ic-right {
  margin-right: -10px;
  background-color: #119100;
  border-left: 1px solid #119100;
}
.sna-button-flatRed {
  background: #d31e01;
  color: #ffffff;
}
.sna-button-flatRed:hover {
  background: #d31e01;
  color: #ffffff;
}
.sna-button-flatRed .sna-button-ic-left {
  margin-left: -10px;
  background-color: #ba1a01;
  border-right: 1px solid #ba1a01;
}
.sna-button-flatRed .sna-button-ic-right {
  margin-right: -10px;
  background-color: #ba1a01;
  border-left: 1px solid #ba1a01;
}
.sna-button-disable {
  cursor: default;
  background: #f2f2f2;
  color: #dadada;
}
.sna-button-disable:hover {
  background: #f2f2f2;
  color: #dadada;
}
.sna-button-disable .sna-button-ic-left {
  margin-left: -10px;
  background-color: #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.sna-button-disable .sna-button-ic-right {
  margin-right: -10px;
  background-color: #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
