/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 s-
 */
/* @end **/
/* =Reset-------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 Tahoma, "\5b8b\4f53", Arial, Helvetica, "\5fae\8f6f\96c5\9ed1", sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: inherit;
}
fieldset,
img {
  border: 0;
}
iframe {
  display: block;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
q:before,
q:after {
  content: '';
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: 0.25em;
}
ins,
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* =clear-------- */
.s-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.s-clearfix {
  *zoom: 1;
}
/* =定位-------- */
.s-pr {
  position: relative;
}
.s-pa {
  position: absolute;
}
.s-fl {
  float: left;
  display: inline;
}
.s-fr {
  float: right;
  display: inline;
}
/* =字体图标引入----------- */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-u42xjt');
  src: url('../fonts/icomoon.eot?#iefix-u42xjt') format('embedded-opentype'), url('../fonts/icomoon.woff?-u42xjt') format('woff'), url('../fonts/icomoon.ttf?-u42xjt') format('truetype'), url('../fonts/icomoon.svg?-u42xjt#icomoon') format('svg');
}
.s-ic {
  display: inline-block;
  height: inherit;
  padding: 0 8px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.s-ic:before {
  display: block;
  text-align: center;
}
.s-ic-default {
  background: #334d5c;
  border: 1px solid #334d5c;
  color: #ffffff;
}
.s-ic-blue {
  background: #3498db;
  color: #ffffff;
}
.s-ic-yellow {
  background: #ffa324;
  color: #ffffff;
}
.s-ic-green {
  background: #45b29d;
  color: #ffffff;
}
.s-ic-red {
  background: #df5a49;
  color: #ffffff;
}
.s-ptn-left {
  margin: 0 10px 0 -10px;
}
.s-ptn-right {
  margin: 0 -10px 0 10px;
}
.s-ptn-cenleft {
  padding: 0;
  margin-right: 10px;
}
.s-ptn-cenright {
  padding: 0;
  margin-left: 10px;
}
.s-ptn-cen {
  margin: 0 -10px;
}
.s-ic-phone:before {
  content: "\e600";
}
.s-ic-mobile:before {
  content: "\e601";
}
.s-ic-mouse:before {
  content: "\e602";
}
.s-ic-directions:before {
  content: "\e603";
}
.s-ic-mail:before {
  content: "\e604";
}
.s-ic-paperplane:before {
  content: "\e605";
}
.s-ic-pencil:before {
  content: "\e606";
}
.s-ic-feather:before {
  content: "\e607";
}
.s-ic-paperclip:before {
  content: "\e608";
}
.s-ic-drawer:before {
  content: "\e609";
}
.s-ic-reply:before {
  content: "\e60a";
}
.s-ic-reply-all:before {
  content: "\e60b";
}
.s-ic-user:before {
  content: "\e60c";
}
.s-ic-users:before {
  content: "\e60d";
}
.s-ic-user-add:before {
  content: "\e60e";
}
.s-ic-vcard:before {
  content: "\e60f";
}
.s-ic-export:before {
  content: "\e610";
}
.s-ic-location:before {
  content: "\e611";
}
.s-ic-map:before {
  content: "\e612";
}
.s-ic-compass:before {
  content: "\e613";
}
.s-ic-location2:before {
  content: "\e614";
}
.s-ic-target:before {
  content: "\e615";
}
.s-ic-share:before {
  content: "\e616";
}
.s-ic-sharable:before {
  content: "\e617";
}
.s-ic-heart:before {
  content: "\e618";
}
.s-ic-heart2:before {
  content: "\e619";
}
.s-ic-star:before {
  content: "\e61a";
}
.s-ic-star2:before {
  content: "\e61b";
}
.s-ic-thumbs-up:before {
  content: "\e61c";
}
.s-ic-thumbs-down:before {
  content: "\e61d";
}
.s-ic-chat:before {
  content: "\e61e";
}
.s-ic-comment:before {
  content: "\e61f";
}
.s-ic-quote:before {
  content: "\e620";
}
.s-ic-house:before {
  content: "\e621";
}
.s-ic-popup:before {
  content: "\e622";
}
.s-ic-search:before {
  content: "\e623";
}
.s-ic-flashlight:before {
  content: "\e624";
}
.s-ic-printer:before {
  content: "\e625";
}
.s-ic-bell:before {
  content: "\e626";
}
.s-ic-link:before {
  content: "\e627";
}
.s-ic-flag:before {
  content: "\e628";
}
.s-ic-cog:before {
  content: "\e629";
}
.s-ic-tools:before {
  content: "\e62a";
}
.s-ic-trophy:before {
  content: "\e62b";
}
.s-ic-tag:before {
  content: "\e62c";
}
.s-ic-megaphone:before {
  content: "\e62e";
}
.s-ic-moon:before {
  content: "\e62f";
}
.s-ic-palette:before {
  content: "\e630";
}
.s-ic-leaf:before {
  content: "\e631";
}
.s-ic-music:before {
  content: "\e632";
}
.s-ic-music2:before {
  content: "\e633";
}
.s-ic-new:before {
  content: "\e634";
}
.s-ic-graduation:before {
  content: "\e635";
}
.s-ic-book:before {
  content: "\e636";
}
.s-ic-newspaper:before {
  content: "\e637";
}
.s-ic-bag:before {
  content: "\e638";
}
.s-ic-airplane:before {
  content: "\e639";
}
.s-ic-lifebuoy:before {
  content: "\e63a";
}
.s-ic-eye:before {
  content: "\e63b";
}
.s-ic-clock:before {
  content: "\e63c";
}
.s-ic-microphone:before {
  content: "\e63d";
}
.s-ic-calendar:before {
  content: "\e63e";
}
.s-ic-bolt:before {
  content: "\e63f";
}
.s-ic-thunder:before {
  content: "\e640";
}
.s-ic-droplet:before {
  content: "\e641";
}
.s-ic-cd:before {
  content: "\e642";
}
.s-ic-briefcase:before {
  content: "\e643";
}
.s-ic-air:before {
  content: "\e644";
}
.s-ic-hourglass:before {
  content: "\e645";
}
.s-ic-gauge:before {
  content: "\e646";
}
.s-ic-language:before {
  content: "\e647";
}
.s-ic-network:before {
  content: "\e648";
}
.s-ic-key:before {
  content: "\e649";
}
.s-ic-battery:before {
  content: "\e64a";
}
.s-ic-bucket:before {
  content: "\e64b";
}
.s-ic-magnet:before {
  content: "\e64c";
}
.s-ic-drive:before {
  content: "\e64d";
}
.s-ic-cup:before {
  content: "\e64e";
}
.s-ic-rocket:before {
  content: "\e64f";
}
.s-ic-brush:before {
  content: "\e650";
}
.s-ic-suitcase:before {
  content: "\e651";
}
.s-ic-cone:before {
  content: "\e652";
}
.s-ic-earth:before {
  content: "\e653";
}
.s-ic-keyboard:before {
  content: "\e654";
}
.s-ic-browser:before {
  content: "\e655";
}
.s-ic-publish:before {
  content: "\e656";
}
.s-ic-progress-3:before {
  content: "\e657";
}
.s-ic-progress-2:before {
  content: "\e658";
}
.s-ic-brogress-1:before {
  content: "\e659";
}
.s-ic-progress-0:before {
  content: "\e65a";
}
.s-ic-sun:before {
  content: "\e65b";
}
.s-ic-sun2:before {
  content: "\e65c";
}
.s-ic-adjust:before {
  content: "\e65d";
}
.s-ic-code:before {
  content: "\e65e";
}
.s-ic-screen:before {
  content: "\e65f";
}
.s-ic-infinity:before {
  content: "\e660";
}
.s-ic-light-bulb:before {
  content: "\e661";
}
.s-ic-credit-card:before {
  content: "\e662";
}
.s-ic-database:before {
  content: "\e663";
}
.s-ic-voicemail:before {
  content: "\e664";
}
.s-ic-clipboard:before {
  content: "\e665";
}
.s-ic-cart:before {
  content: "\e666";
}
.s-ic-box:before {
  content: "\e667";
}
.s-ic-ticket:before {
  content: "\e668";
}
.s-ic-rss:before {
  content: "\e669";
}
.s-ic-signal:before {
  content: "\e66a";
}
.s-ic-thermometer:before {
  content: "\e66b";
}
.s-ic-droplets:before {
  content: "\e66c";
}
.s-ic-uniE66D:before {
  content: "\e66d";
}
.s-ic-statistics:before {
  content: "\e66e";
}
.s-ic-pie:before {
  content: "\e66f";
}
.s-ic-bars:before {
  content: "\e670";
}
.s-ic-graph:before {
  content: "\e671";
}
.s-ic-lock:before {
  content: "\e672";
}
.s-ic-lock-open:before {
  content: "\e673";
}
.s-ic-logout:before {
  content: "\e674";
}
.s-ic-login:before {
  content: "\e675";
}
.s-ic-checkmark:before {
  content: "\e676";
}
.s-ic-cross:before {
  content: "\e677";
}
.s-ic-minus:before {
  content: "\e678";
}
.s-ic-plus:before {
  content: "\e679";
}
.s-ic-cross2:before {
  content: "\e67a";
}
.s-ic-minus2:before {
  content: "\e67b";
}
.s-ic-plus2:before {
  content: "\e67c";
}
.s-ic-cross3:before {
  content: "\e67d";
}
.s-ic-minus3:before {
  content: "\e67e";
}
.s-ic-plus3:before {
  content: "\e67f";
}
.s-ic-erase:before {
  content: "\e680";
}
.s-ic-blocked:before {
  content: "\e681";
}
.s-ic-info:before {
  content: "\e682";
}
.s-ic-info2:before {
  content: "\e683";
}
.s-ic-question:before {
  content: "\e684";
}
.s-ic-help:before {
  content: "\e685";
}
.s-ic-warning:before {
  content: "\e686";
}
.s-ic-cycle:before {
  content: "\e687";
}
.s-ic-cw:before {
  content: "\e688";
}
.s-ic-shuffle:before {
  content: "\e68a";
}
.s-ic-arrow:before {
  content: "\e68b";
}
.s-ic-arrow2:before {
  content: "\e68c";
}
.s-ic-retweet:before {
  content: "\e68d";
}
.s-ic-loop:before {
  content: "\e68e";
}
.s-ic-history:before {
  content: "\e68f";
}
.s-ic-back:before {
  content: "\e690";
}
.s-ic-switch:before {
  content: "\e691";
}
.s-ic-list:before {
  content: "\e692";
}
.s-ic-add-to-list:before {
  content: "\e693";
}
.s-ic-layout:before {
  content: "\e694";
}
.s-ic-list2:before {
  content: "\e695";
}
.s-ic-text:before {
  content: "\e696";
}
.s-ic-text2:before {
  content: "\e697";
}
.s-ic-document:before {
  content: "\e698";
}
.s-ic-docs:before {
  content: "\e699";
}
.s-ic-landscape:before {
  content: "\e69a";
}
.s-ic-pictures:before {
  content: "\e69b";
}
.s-ic-video:before {
  content: "\e69c";
}
.s-ic-music3:before {
  content: "\e69d";
}
.s-ic-folder:before {
  content: "\e69e";
}
.s-ic-archive:before {
  content: "\e69f";
}
.s-ic-trash:before {
  content: "\e6a0";
}
.s-ic-upload:before {
  content: "\e6a1";
}
.s-ic-download:before {
  content: "\e6a2";
}
.s-ic-disk:before {
  content: "\e6a3";
}
.s-ic-install:before {
  content: "\e6a4";
}
.s-ic-cloud:before {
  content: "\e6a5";
}
.s-ic-upload2:before {
  content: "\e6a6";
}
.s-ic-bookmark:before {
  content: "\e6a7";
}
.s-ic-bookmarks:before {
  content: "\e6a8";
}
.s-ic-book2:before {
  content: "\e6a9";
}
.s-ic-play:before {
  content: "\e6aa";
}
.s-ic-pause:before {
  content: "\e6ab";
}
.s-ic-record:before {
  content: "\e6ac";
}
.s-ic-stop:before {
  content: "\e6ad";
}
.s-ic-next:before {
  content: "\e6ae";
}
.s-ic-previous:before {
  content: "\e6af";
}
.s-ic-first:before {
  content: "\e6b0";
}
.s-ic-last:before {
  content: "\e6b1";
}
.s-ic-resize-enlarge:before {
  content: "\e6b2";
}
.s-ic-resize-shrink:before {
  content: "\e6b3";
}
.s-ic-volume:before {
  content: "\e6b4";
}
.s-ic-sound:before {
  content: "\e6b5";
}
.s-ic-mute:before {
  content: "\e6b6";
}
.s-ic-flow-cascade:before {
  content: "\e6b7";
}
.s-ic-flow-branch:before {
  content: "\e6b8";
}
.s-ic-flow-tree:before {
  content: "\e6b9";
}
.s-ic-flow-line:before {
  content: "\e6ba";
}
.s-ic-flow-parallel:before {
  content: "\e6bb";
}
.s-ic-arrow-left:before {
  content: "\e6bc";
}
.s-ic-arrow-down:before {
  content: "\e6bd";
}
.s-ic-arrow-up-upload:before {
  content: "\e6be";
}
.s-ic-arrow-right:before {
  content: "\e6bf";
}
.s-ic-arrow-left2:before {
  content: "\e6c0";
}
.s-ic-arrow-down2:before {
  content: "\e6c1";
}
.s-ic-arrow-up:before {
  content: "\e6c2";
}
.s-ic-arrow-right2:before {
  content: "\e6c3";
}
.s-ic-arrow-left3:before {
  content: "\e6c4";
}
.s-ic-arrow-down3:before {
  content: "\e6c5";
}
.s-ic-arrow-up2:before {
  content: "\e6c6";
}
.s-ic-arrow-right3:before {
  content: "\e6c7";
}
.s-ic-arrow-left4:before {
  content: "\e6c8";
}
.s-ic-arrow-down4:before {
  content: "\e6c9";
}
.s-ic-arrow-up3:before {
  content: "\e6ca";
}
.s-ic-arrow-right4:before {
  content: "\e6cb";
}
.s-ic-arrow-left5:before {
  content: "\e6cc";
}
.s-ic-arrow-down5:before {
  content: "\e6cd";
}
.s-ic-arrow-up4:before {
  content: "\e6ce";
}
.s-ic-arrow-right5:before {
  content: "\e6cf";
}
.s-ic-arrow-left6:before {
  content: "\e6d0";
}
.s-ic-arrow-down6:before {
  content: "\e6d1";
}
.s-ic-arrow-up5:before {
  content: "\e6d2";
}
.s-ic-arrow-right6:before {
  content: "\e6d3";
}
.s-ic-arrow-left7:before {
  content: "\e6d4";
}
.s-ic-arrow-down7:before {
  content: "\e6d5";
}
.s-ic-arrow-up6:before {
  content: "\e6d6";
}
.s-ic-uniE6D7:before {
  content: "\e6d7";
}
.s-ic-arrow-left8:before {
  content: "\e6d8";
}
.s-ic-arrow-down8:before {
  content: "\e6d9";
}
.s-ic-arrow-up7:before {
  content: "\e6da";
}
.s-ic-arrow-right7:before {
  content: "\e6db";
}
.s-ic-menu:before {
  content: "\e6dc";
}
.s-ic-ellipsis:before {
  content: "\e6dd";
}
.s-ic-dots:before {
  content: "\e6de";
}
.s-ic-dot:before {
  content: "\e6df";
}
.s-ic-cc:before {
  content: "\e6e0";
}
.s-ic-cc-by:before {
  content: "\e6e1";
}
.s-ic-cc-nc:before {
  content: "\e6e2";
}
.s-ic-cc-nc-eu:before {
  content: "\e6e3";
}
.s-ic-cc-nc-jp:before {
  content: "\e6e4";
}
.s-ic-cc-sa:before {
  content: "\e6e5";
}
.s-ic-cc-nd:before {
  content: "\e6e6";
}
.s-ic-cc-pd:before {
  content: "\e6e7";
}
.s-ic-cc-zero:before {
  content: "\e6e8";
}
.s-ic-cc-share:before {
  content: "\e6e9";
}
.s-ic-cc-share2:before {
  content: "\e6ea";
}
.s-ic-daniel-bruce:before {
  content: "\e6eb";
}
.s-ic-daniel-bruce2:before {
  content: "\e6ec";
}
.s-ic-github:before {
  content: "\e6ed";
}
.s-ic-github2:before {
  content: "\e6ee";
}
.s-ic-flickr:before {
  content: "\e6ef";
}
.s-ic-flickr2:before {
  content: "\e6f0";
}
.s-ic-vimeo:before {
  content: "\e6f1";
}
.s-ic-vimeo2:before {
  content: "\e6f2";
}
.s-ic-twitter:before {
  content: "\e6f3";
}
.s-ic-twitter2:before {
  content: "\e6f4";
}
.s-ic-facebook:before {
  content: "\e6f5";
}
.s-ic-facebook2:before {
  content: "\e6f6";
}
.s-ic-facebook3:before {
  content: "\e6f7";
}
.s-ic-googleplus:before {
  content: "\e6f8";
}
.s-ic-googleplus2:before {
  content: "\e6f9";
}
.s-ic-pinterest:before {
  content: "\e6fa";
}
.s-ic-pinterest2:before {
  content: "\e6fb";
}
.s-ic-tumblr:before {
  content: "\e6fc";
}
.s-ic-tumblr2:before {
  content: "\e6fd";
}
.s-ic-linkedin:before {
  content: "\e6fe";
}
.s-ic-linkedin2:before {
  content: "\e6ff";
}
.s-ic-dribbble:before {
  content: "\e700";
}
.s-ic-dribbble2:before {
  content: "\e701";
}
.s-ic-stumbleupon:before {
  content: "\e702";
}
.s-ic-stumbleupon2:before {
  content: "\e703";
}
.s-ic-lastfm:before {
  content: "\e704";
}
.s-ic-lastfm2:before {
  content: "\e705";
}
.s-ic-rdio:before {
  content: "\e706";
}
.s-ic-rdio2:before {
  content: "\e707";
}
.s-ic-spotify:before {
  content: "\e708";
}
.s-ic-spotify2:before {
  content: "\e709";
}
.s-ic-qq:before {
  content: "\e70a";
}
.s-ic-instagram:before {
  content: "\e70b";
}
.s-ic-dropbox:before {
  content: "\e70c";
}
.s-ic-evernote:before {
  content: "\e70d";
}
.s-ic-flattr:before {
  content: "\e70e";
}
.s-ic-skype:before {
  content: "\e70f";
}
.s-ic-skype2:before {
  content: "\e710";
}
.s-ic-renren:before {
  content: "\e711";
}
.s-ic-sina-weibo:before {
  content: "\e712";
}
.s-ic-paypal:before {
  content: "\e713";
}
.s-ic-picasa:before {
  content: "\e714";
}
.s-ic-soundcloud:before {
  content: "\e715";
}
.s-ic-mixi:before {
  content: "\e716";
}
.s-ic-behance:before {
  content: "\e717";
}
.s-ic-circles:before {
  content: "\e718";
}
.s-ic-vk:before {
  content: "\e719";
}
.s-ic-smashing:before {
  content: "\e71a";
}
.s-ic-forward:before {
  content: "\e71b";
}
.s-ic-ccw:before {
  content: "\e689";
}
.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
/* =按扭-基础件------ */
.s-btn {
  display: inline-block;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  vertical-align: middle;
  background: #334d5c;
  border: 1px solid #21323b;
  color: #ffffff;
}
.s-btn:hover {
  text-decoration: none;
}
.s-btn:hover {
  background: #2a3f4c;
  color: #ffffff;
}
.s-btn .s-ptn-left {
  border-right: 1px solid #21323b;
}
.s-btn .s-ptn-right {
  border-left: 1px solid #21323b;
}
.s-btn.s-gradient {
  background: #334d5c;
  border: 1px solid #18242b;
  color: #ffffff;
  background: -moz-linear-gradient(top, #3c5b6c 0%, #21323b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c5b6c), color-stop(100%, #21323b));
  background: -webkit-linear-gradient(top, #3c5b6c 0%, #21323b 100%);
  background: -o-linear-gradient(top, #3c5b6c 0%, #21323b 100%);
  background: -ms-linear-gradient(top, #3c5b6c 0%, #21323b 100%);
  background: linear-gradient(top, #3c5b6c 0%, #21323b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c5b6c, endColorstr=#21323b, GradientType=0);
}
.s-btn.s-gradient:hover {
  background: #21323b;
  color: #ffffff;
  background: -moz-linear-gradient(top, #334d5c 0%, #2a3f4c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #334d5c), color-stop(100%, #2a3f4c));
  background: -webkit-linear-gradient(top, #334d5c 0%, #2a3f4c 100%);
  background: -o-linear-gradient(top, #334d5c 0%, #2a3f4c 100%);
  background: -ms-linear-gradient(top, #334d5c 0%, #2a3f4c 100%);
  background: linear-gradient(top, #334d5c 0%, #2a3f4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#334d5c, endColorstr=#2a3f4c, GradientType=0);
}
.s-btn.s-gradient .s-ptn-left {
  border-right: 1px solid #21323b;
}
.s-btn.s-gradient .s-ptn-right {
  border-left: 1px solid #21323b;
}
.s-btn.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #000000;
  -moz-box-shadow: 0 0 2px #000000;
  -ms-box-shadow: 0 0 2px #000000;
  -o-box-shadow: 0 0 2px #000000;
  box-shadow: 0 0 2px #000000;
}
.s-btn.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #0f161a;
  -moz-box-shadow: 0 5px 0 #0f161a;
  -ms-box-shadow: 0 5px 0 #0f161a;
  -o-box-shadow: 0 5px 0 #0f161a;
  box-shadow: 0 5px 0 #0f161a;
  -webkit-text-shadow: 0 1px 1px #0f161a;
  -moz-text-shadow: 0 1px 1px #0f161a;
  -ms-text-shadow: 0 1px 1px #0f161a;
  -o-text-shadow: 0 1px 1px #0f161a;
  text-shadow: 0 1px 1px #0f161a;
}
.s-btn-blue {
  background: #3498db;
  border: 1px solid #217dbb;
  color: #ffffff;
}
.s-btn-blue:hover {
  background: #258cd1;
  color: #ffffff;
}
.s-btn-blue .s-ptn-left {
  border-right: 1px solid #217dbb;
}
.s-btn-blue .s-ptn-right {
  border-left: 1px solid #217dbb;
}
.s-btn-blue.s-gradient {
  background: #3498db;
  border: 1px solid #1d6fa5;
  color: #ffffff;
  background: -moz-linear-gradient(top, #4aa3df 0%, #217dbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aa3df), color-stop(100%, #217dbb));
  background: -webkit-linear-gradient(top, #4aa3df 0%, #217dbb 100%);
  background: -o-linear-gradient(top, #4aa3df 0%, #217dbb 100%);
  background: -ms-linear-gradient(top, #4aa3df 0%, #217dbb 100%);
  background: linear-gradient(top, #4aa3df 0%, #217dbb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4aa3df, endColorstr=#217dbb, GradientType=0);
}
.s-btn-blue.s-gradient:hover {
  background: #217dbb;
  color: #ffffff;
  background: -moz-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #258cd1));
  background: -webkit-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background: -o-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background: -ms-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background: linear-gradient(top, #3498db 0%, #258cd1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3498db, endColorstr=#258cd1, GradientType=0);
}
.s-btn-blue.s-gradient .s-ptn-left {
  border-right: 1px solid #217dbb;
}
.s-btn-blue.s-gradient .s-ptn-right {
  border-left: 1px solid #217dbb;
}
.s-btn-blue.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-blue.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-blue.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #124364;
  -moz-box-shadow: 0 0 2px #124364;
  -ms-box-shadow: 0 0 2px #124364;
  -o-box-shadow: 0 0 2px #124364;
  box-shadow: 0 0 2px #124364;
}
.s-btn-blue.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #196090;
  -moz-box-shadow: 0 5px 0 #196090;
  -ms-box-shadow: 0 5px 0 #196090;
  -o-box-shadow: 0 5px 0 #196090;
  box-shadow: 0 5px 0 #196090;
  -webkit-text-shadow: 0 1px 1px #196090;
  -moz-text-shadow: 0 1px 1px #196090;
  -ms-text-shadow: 0 1px 1px #196090;
  -o-text-shadow: 0 1px 1px #196090;
  text-shadow: 0 1px 1px #196090;
}
.s-btn-yellow {
  background: #ffa324;
  border: 1px solid #f08b00;
  color: #ffffff;
}
.s-btn-yellow:hover {
  background: #ff980a;
  color: #ffffff;
}
.s-btn-yellow .s-ptn-left {
  border-right: 1px solid #f08b00;
}
.s-btn-yellow .s-ptn-right {
  border-left: 1px solid #f08b00;
}
.s-btn-yellow.s-gradient {
  background: #ffa324;
  border: 1px solid #d67c00;
  color: #ffffff;
  background: -moz-linear-gradient(top, #ffae3e 0%, #f08b00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffae3e), color-stop(100%, #f08b00));
  background: -webkit-linear-gradient(top, #ffae3e 0%, #f08b00 100%);
  background: -o-linear-gradient(top, #ffae3e 0%, #f08b00 100%);
  background: -ms-linear-gradient(top, #ffae3e 0%, #f08b00 100%);
  background: linear-gradient(top, #ffae3e 0%, #f08b00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffae3e, endColorstr=#f08b00, GradientType=0);
}
.s-btn-yellow.s-gradient:hover {
  background: #f08b00;
  color: #ffffff;
  background: -moz-linear-gradient(top, #ffa324 0%, #ff980a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa324), color-stop(100%, #ff980a));
  background: -webkit-linear-gradient(top, #ffa324 0%, #ff980a 100%);
  background: -o-linear-gradient(top, #ffa324 0%, #ff980a 100%);
  background: -ms-linear-gradient(top, #ffa324 0%, #ff980a 100%);
  background: linear-gradient(top, #ffa324 0%, #ff980a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa324, endColorstr=#ff980a, GradientType=0);
}
.s-btn-yellow.s-gradient .s-ptn-left {
  border-right: 1px solid #f08b00;
}
.s-btn-yellow.s-gradient .s-ptn-right {
  border-left: 1px solid #f08b00;
}
.s-btn-yellow.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-yellow.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-yellow.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #8a5000;
  -moz-box-shadow: 0 0 2px #8a5000;
  -ms-box-shadow: 0 0 2px #8a5000;
  -o-box-shadow: 0 0 2px #8a5000;
  box-shadow: 0 0 2px #8a5000;
}
.s-btn-yellow.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #bd6e00;
  -moz-box-shadow: 0 5px 0 #bd6e00;
  -ms-box-shadow: 0 5px 0 #bd6e00;
  -o-box-shadow: 0 5px 0 #bd6e00;
  box-shadow: 0 5px 0 #bd6e00;
  -webkit-text-shadow: 0 1px 1px #bd6e00;
  -moz-text-shadow: 0 1px 1px #bd6e00;
  -ms-text-shadow: 0 1px 1px #bd6e00;
  -o-text-shadow: 0 1px 1px #bd6e00;
  text-shadow: 0 1px 1px #bd6e00;
}
.s-btn-green {
  background: #45b29d;
  border: 1px solid #378d7d;
  color: #ffffff;
}
.s-btn-green:hover {
  background: #3ea08d;
  color: #ffffff;
}
.s-btn-green .s-ptn-left {
  border-right: 1px solid #378d7d;
}
.s-btn-green .s-ptn-right {
  border-left: 1px solid #378d7d;
}
.s-btn-green.s-gradient {
  background: #45b29d;
  border: 1px solid #307b6c;
  color: #ffffff;
  background: -moz-linear-gradient(top, #54bda8 0%, #378d7d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #54bda8), color-stop(100%, #378d7d));
  background: -webkit-linear-gradient(top, #54bda8 0%, #378d7d 100%);
  background: -o-linear-gradient(top, #54bda8 0%, #378d7d 100%);
  background: -ms-linear-gradient(top, #54bda8 0%, #378d7d 100%);
  background: linear-gradient(top, #54bda8 0%, #378d7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#54bda8, endColorstr=#378d7d, GradientType=0);
}
.s-btn-green.s-gradient:hover {
  background: #378d7d;
  color: #ffffff;
  background: -moz-linear-gradient(top, #45b29d 0%, #3ea08d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45b29d), color-stop(100%, #3ea08d));
  background: -webkit-linear-gradient(top, #45b29d 0%, #3ea08d 100%);
  background: -o-linear-gradient(top, #45b29d 0%, #3ea08d 100%);
  background: -ms-linear-gradient(top, #45b29d 0%, #3ea08d 100%);
  background: linear-gradient(top, #45b29d 0%, #3ea08d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#45b29d, endColorstr=#3ea08d, GradientType=0);
}
.s-btn-green.s-gradient .s-ptn-left {
  border-right: 1px solid #378d7d;
}
.s-btn-green.s-gradient .s-ptn-right {
  border-left: 1px solid #378d7d;
}
.s-btn-green.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-green.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-green.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #1a443c;
  -moz-box-shadow: 0 0 2px #1a443c;
  -ms-box-shadow: 0 0 2px #1a443c;
  -o-box-shadow: 0 0 2px #1a443c;
  box-shadow: 0 0 2px #1a443c;
}
.s-btn-green.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #29685c;
  -moz-box-shadow: 0 5px 0 #29685c;
  -ms-box-shadow: 0 5px 0 #29685c;
  -o-box-shadow: 0 5px 0 #29685c;
  box-shadow: 0 5px 0 #29685c;
  -webkit-text-shadow: 0 1px 1px #29685c;
  -moz-text-shadow: 0 1px 1px #29685c;
  -ms-text-shadow: 0 1px 1px #29685c;
  -o-text-shadow: 0 1px 1px #29685c;
  text-shadow: 0 1px 1px #29685c;
}
.s-btn-red {
  background: #df5a49;
  border: 1px solid #d03825;
  color: #ffffff;
}
.s-btn-red:hover {
  background: #db4633;
  color: #ffffff;
}
.s-btn-red .s-ptn-left {
  border-right: 1px solid #d03825;
}
.s-btn-red .s-ptn-right {
  border-left: 1px solid #d03825;
}
.s-btn-red.s-gradient {
  background: #df5a49;
  border: 1px solid #bb3221;
  color: #ffffff;
  background: -moz-linear-gradient(top, #e36e5f 0%, #d03825 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e36e5f), color-stop(100%, #d03825));
  background: -webkit-linear-gradient(top, #e36e5f 0%, #d03825 100%);
  background: -o-linear-gradient(top, #e36e5f 0%, #d03825 100%);
  background: -ms-linear-gradient(top, #e36e5f 0%, #d03825 100%);
  background: linear-gradient(top, #e36e5f 0%, #d03825 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e36e5f, endColorstr=#d03825, GradientType=0);
}
.s-btn-red.s-gradient:hover {
  background: #d03825;
  color: #ffffff;
  background: -moz-linear-gradient(top, #df5a49 0%, #db4633 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #df5a49), color-stop(100%, #db4633));
  background: -webkit-linear-gradient(top, #df5a49 0%, #db4633 100%);
  background: -o-linear-gradient(top, #df5a49 0%, #db4633 100%);
  background: -ms-linear-gradient(top, #df5a49 0%, #db4633 100%);
  background: linear-gradient(top, #df5a49 0%, #db4633 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#df5a49, endColorstr=#db4633, GradientType=0);
}
.s-btn-red.s-gradient .s-ptn-left {
  border-right: 1px solid #d03825;
}
.s-btn-red.s-gradient .s-ptn-right {
  border-left: 1px solid #d03825;
}
.s-btn-red.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-red.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-red.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #7a2115;
  -moz-box-shadow: 0 0 2px #7a2115;
  -ms-box-shadow: 0 0 2px #7a2115;
  -o-box-shadow: 0 0 2px #7a2115;
  box-shadow: 0 0 2px #7a2115;
}
.s-btn-red.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #a52c1d;
  -moz-box-shadow: 0 5px 0 #a52c1d;
  -ms-box-shadow: 0 5px 0 #a52c1d;
  -o-box-shadow: 0 5px 0 #a52c1d;
  box-shadow: 0 5px 0 #a52c1d;
  -webkit-text-shadow: 0 1px 1px #a52c1d;
  -moz-text-shadow: 0 1px 1px #a52c1d;
  -ms-text-shadow: 0 1px 1px #a52c1d;
  -o-text-shadow: 0 1px 1px #a52c1d;
  text-shadow: 0 1px 1px #a52c1d;
}
.s-btn-disable {
  cursor: default;
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
}
.s-btn-disable:hover {
  background: #e5e5e5;
  color: #d9d9d9;
}
.s-btn-disable .s-ptn-left {
  border-right: 1px solid #d9d9d9;
}
.s-btn-disable .s-ptn-right {
  border-left: 1px solid #d9d9d9;
}
.s-btn-disable.s-gradient {
  background: #f2f2f2;
  border: 1px solid #cccccc;
  color: #d9d9d9;
  background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  background: linear-gradient(top, #ffffff 0%, #d9d9d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#d9d9d9, GradientType=0);
}
.s-btn-disable.s-gradient:hover {
  background: #d9d9d9;
  color: #d9d9d9;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#e5e5e5, GradientType=0);
}
.s-btn-disable.s-gradient .s-ptn-left {
  border-right: 1px solid #d9d9d9;
}
.s-btn-disable.s-gradient .s-ptn-right {
  border-left: 1px solid #d9d9d9;
}
.s-btn-disable.s-grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-disable.s-grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.s-btn-disable.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #a5a5a5;
  -moz-box-shadow: 0 0 2px #a5a5a5;
  -ms-box-shadow: 0 0 2px #a5a5a5;
  -o-box-shadow: 0 0 2px #a5a5a5;
  box-shadow: 0 0 2px #a5a5a5;
}
.s-btn-disable.s-css3-extend {
  -webkit-box-shadow: 0 5px 0 #bfbfbf;
  -moz-box-shadow: 0 5px 0 #bfbfbf;
  -ms-box-shadow: 0 5px 0 #bfbfbf;
  -o-box-shadow: 0 5px 0 #bfbfbf;
  box-shadow: 0 5px 0 #bfbfbf;
  -webkit-text-shadow: 0 1px 1px #bfbfbf;
  -moz-text-shadow: 0 1px 1px #bfbfbf;
  -ms-text-shadow: 0 1px 1px #bfbfbf;
  -o-text-shadow: 0 1px 1px #bfbfbf;
  text-shadow: 0 1px 1px #bfbfbf;
}
.s-btn-disable:hover {
  background: #f2f2f2;
}
/* =按扭-组合件------ */
.s-btn-group {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 1px;
  font-size: 0;
}
.s-btn-group .s-css3-base {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.s-btn-group .s-css3-base:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.s-btn-group .s-css3-base:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.s-btn-group p .s-css3-base:first-child,
.s-btn-group p .s-css3-base:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.s-btn-group p:first-child .s-css3-base:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.s-btn-group p:first-child .s-css3-base:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.s-btn-group p:last-child .s-css3-base:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.s-btn-group p:last-child .s-css3-base:last-child {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.s-btn-group a {
  *margin-right: -1px;
}
/* =表单-基础件------ */
.s-input {
  display: inline-block;
  height: 30px;
  padding-bottom: 2px;
  line-height: 30px;
}
.s-input.s-css3-base .s-ic {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.s-input.s-css3-base .s-ipt {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.s-textarea {
  width: 100%;
  height: 100px;
  padding: 7px 5px 8px;
  border: 1px solid #cccccc;
  background: #ffffff;
}
.s-textarea.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #e6e6e6;
  -moz-box-shadow: inset 1px 1px 1px #e6e6e6;
  -ms-box-shadow: inset 1px 1px 1px #e6e6e6;
  -o-box-shadow: inset 1px 1px 1px #e6e6e6;
  box-shadow: inset 1px 1px 1px #e6e6e6;
}
.s-ipt {
  height: 15px;
  padding: 7px 5px 8px;
  border: 1px solid #cccccc;
  background: #ffffff;
  vertical-align: middle;
}
.s-ipt.s-css3-base {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #e6e6e6;
  -moz-box-shadow: inset 1px 1px 1px #e6e6e6;
  -ms-box-shadow: inset 1px 1px 1px #e6e6e6;
  -o-box-shadow: inset 1px 1px 1px #e6e6e6;
  box-shadow: inset 1px 1px 1px #e6e6e6;
}
