/**
 *	@name     : Css 基础组件
 *	@author   : Wendell
 *	@version  : 1.0
 *	@project  : 2014巴西世界杯 定制前缀cup-
 */
/* @end **/


/* =按扭组------- */
	.cup-button{
		display:inline-block;*display:inline;zoom:1;
		padding:8px 20px;
		background:#f4f4f4;border:1px solid #ddd;
		color:gray;font-size:14px;text-decoration:none;
	}
	.cup-button:hover{
		color:black;text-decoration:none;
	}
		/* =灰色系- */
		.cup-button-gray{
			background:-moz-linear-gradient(top,#ffffff 0%,#efefef 100%); /* FF3.6+ */
			background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#efefef)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top,#ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top,#ffffff 0%,#efefef 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top,#ffffff 0%,#efefef 100%); /* IE10+ */
			background:linear-gradient(top,#ffffff 0%,#efefef 100%); /* W3C */
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		}
		.cup-button-gray:hover{
			background:-moz-linear-gradient(top,#ffffff 0%,#e8e8e8 100%); /* FF3.6+ */
			background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top,#ffffff 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top,#ffffff 0%,#e8e8e8 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top,#ffffff 0%,#e8e8e8 100%); /* IE10+ */
			background:linear-gradient(top,#ffffff 0%,#e8e8e8 100%); /* W3C */
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
		}
		/* =红色系- */
		.cup-button-red{
			border:1px solid #ab0a0a;
			color:#fff;
			background:-moz-linear-gradient(top,#f44242 0%,#d40f0f 100%); /* FF3.6+ */
			background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f44242),color-stop(100%,#d40f0f)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top,#f44242 0%,#d40f0f 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top,#f44242 0%,#d40f0f 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top,#f44242 0%,#d40f0f 100%); /* IE10+ */
			background:linear-gradient(top,#f44242 0%,#d40f0f 100%); /* W3C */
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f44242',endColorstr='#d40f0f',GradientType=0 ); /* IE6-9 */
		}
		.cup-button-red:hover{
			color:#fff;
			background:-moz-linear-gradient(top,#f44242 0%,#f24400 100%); /* FF3.6+ */
			background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f44242),color-stop(100%,#f24400)); /* Chrome,Safari4+ */
			background:-webkit-linear-gradient(top,#f44242 0%,#f24400 100%); /* Chrome10+,Safari5.1+ */
			background:-o-linear-gradient(top,#f44242 0%,#f24400 100%); /* Opera 11.10+ */
			background:-ms-linear-gradient(top,#f44242 0%,#f24400 100%); /* IE10+ */
			background:linear-gradient(top,#f44242 0%,#f24400 100%); /* W3C */
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f44242',endColorstr='#f24400',GradientType=0 ); /* IE6-9 */
		}
		/* =不可点状态- */
		.cup-button-disable{
			background:#f2f2f2;border:1px solid #f2f2f2;
			color:#dadada;cursor:default;
		}
		.cup-button-disable:hover{
			background:#f2f2f2;
			color:#dadada;
		}