// *******************************/
//    Button Module
// *******************************/
// 按扭色模块
#mod-buttonColor{
    // 扁平色
    .mod-btn-color(@BgColor,@FontColor){
        background:@BgColor;border:1px solid darken(@BgColor,10%);
        color:@FontColor;
        &:hover{
            background:darken(@BgColor,5%);
            color:@FontColor;
        }
        #mod-icons > .mod-ic-posiColor(darken(@BgColor,10%));
        //  渐变状态
        &.s-gradient{
            #mod-css3-effect > .css3-gradient(@BgColor,@FontColor);
        }
        //  去色状态
        &.s-grayscale{
            #mod-css3-effect > .css3-grayscale;
        }
        // css3基础效果
        &.s-css3-base{
            #mod-css3-effect > .css3-base(5px,0 0 2px,darken(@BgColor,30%));
        }
        // css3扩展效果
        &.s-css3-extend{
            #mod-css3-effect > .css3-extend(0 5px 0,darken(@BgColor,20%),0 1px 1px);
        }
    }
}
// #mod-buttonColor end

/* =按扭-基础件------ */
    // 基础按扭
    .s-btn{
        display:inline-block;cursor:pointer;
        height:@Size;
        padding:0 10px;
        line-height:@Size;text-align:center;font-size:12px;text-decoration:none;vertical-align:middle;
        &:hover{
            text-decoration:none;
        }
        #mod-buttonColor > .mod-btn-color(@DefaultColor,lighten(@DefaultColor,100%));  // 默认按扭色
    }
    // 扁平蓝色系
    .s-btn-blue{
        #mod-buttonColor > .mod-btn-color(@BlueColor,lighten(@DefaultColor,100%));
    }
    // 扁平黄色系
    .s-btn-yellow{
        #mod-buttonColor > .mod-btn-color(@YellowColor,lighten(@DefaultColor,100%));
    }
    // 扁平绿色系
    .s-btn-green{
        #mod-buttonColor > .mod-btn-color(@GreenColor,lighten(@DefaultColor,100%));
    }
    // 扁平红色系
    .s-btn-red{
        #mod-buttonColor > .mod-btn-color(@RedColor,lighten(@DefaultColor,100%));
    }
    // 不可点状态
    .s-btn-disable{
        cursor:default;
        #mod-buttonColor > .mod-btn-color(@DisableColor,darken(@DisableColor,10%));
        &:hover{
            background:@DisableColor;
        }
    }
    
/* =按扭-组合件------ */
    .s-btn-group{
        display:inline-block;*display:inline;zoom:1;
        padding-bottom:1px;
        font-size:0;
        .s-css3-base{
            #mod-css3-effect > .css3-radius(0);
            &:first-child{
                #mod-css3-effect > .css3-radius(5px 0 0 5px);
            }
            &:last-child{
                #mod-css3-effect > .css3-radius(0 5px 5px 0);
            }
        }
        p{
            .s-css3-base{
                &:first-child,&:last-child{
                    #mod-css3-effect > .css3-radius(0);
                }
            }
            &:first-child{
                .s-css3-base{
                    &:first-child{
                        #mod-css3-effect > .css3-radius-topleft();
                    }
                    &:last-child{
                        #mod-css3-effect > .css3-radius-topright(); 
                    }
                }
            }
            &:last-child{
                .s-css3-base{
                    &:first-child{
                        #mod-css3-effect > .css3-radius-bottomleft();
                    }
                    &:last-child{
                        #mod-css3-effect > .css3-radius-bottomright();
                    }
                }
            }
        }
    }
    .s-btn-group a{
        *margin-right:-1px;
    }
    



    



