/*******************************
    Button Module
*******************************/
// 按扭色模块
#mod-buttonColor{

    // @BeginColor->渐变开始颜色
    // @EndColor->渐变结末颜色
    // @HoverBeginColor->鼠标移入渐变开始颜色
    // @HoverEndColor->鼠标移入渐变结束颜色
    // @FontColor->字体颜色
    // @HoverFontColor->鼠标移入字体颜色
    // a~z：FF3.6+ > Chrome,Safari4+ > Chrome10+,Safari5.1+ > Opera 11.10+ > IE10+ > W3C > IE6-9

    .mod-button-gradientColor(@BeginColor,@EndColor,@FontColor){
        background:@BeginColor;border:1px solid darken(@EndColor,10%);
        color:@FontColor;
        background:-moz-linear-gradient(top,@BeginColor 0%,@EndColor 100%);
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,@BeginColor),color-stop(100%,@EndColor));
        background:-webkit-linear-gradient(top,@BeginColor 0%,@EndColor 100%);
        background:-o-linear-gradient(top,@BeginColor 0%,@EndColor 100%);
        background:-ms-linear-gradient(top,@BeginColor 0%,@EndColor 100%);
        background:linear-gradient(top,@BeginColor 0%,@EndColor 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=@BeginColor,endColorstr=@EndColor,GradientType=0 );
        &:hover{
            background:darken(@BeginColor,10%);
            color:@FontColor;
            background:-moz-linear-gradient(top,darken(@BeginColor,1%) 0%,darken(@EndColor,5%) 100%);
            background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,darken(@BeginColor,1%)),color-stop(100%,darken(@EndColor,5%)));
            background:-webkit-linear-gradient(top,darken(@BeginColor,1%) 0%,darken(@EndColor,5%) 100%);
            background:-o-linear-gradient(top,darken(@BeginColor,1%) 0%,darken(@EndColor,5%) 100%);
            background:-ms-linear-gradient(top,darken(@BeginColor,1%) 0%,darken(@EndColor,5%) 100%);
            background:linear-gradient(top,darken(@BeginColor,1%) 0%,darken(@EndColor,5%) 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=darken(@BeginColor,1%),endColorstr=darken(@EndColor,5%),GradientType=0 );
        }
        #mod-buttonIco > .mod-buttonIc-posi(darken(@EndColor,10%));
    }
    // 扁平色
    .mod-button-flatColor(@BgColor,@FontColor){
        background:@BgColor;border:1px solid @BgColor;
        color:@FontColor;
        &:hover{
            background:darken(@BgColor,5%);
            color:@FontColor;
        }
        #mod-buttonIco > .mod-buttonIc-posi(darken(@BgColor,10%));
    }
    //  去色
    .mod-button-grays(){
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        filter:gray;
        -webkit-filter:grayscale(100%);
        -moz-filter:grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }
    .mod-button-grayscale(){
        .mod-button-grays;
        &:hover{
            .mod-button-grays;
        }
    }
}
// #mod-buttonColor end

// 小图标模块
#mod-buttonIco{
    .mod-button-ic(@Size:32px){
        display:inline-block;
        width:@Size;height:@Size;
        margin:-2px 10px 0 10px;_margin-top:-3px;
        line-height:@Size;text-align:center;overflow:hidden;vertical-align:middle;
        #mod-icons > .mod-icon-list > .mod-icon;
    }
    .mod-buttonIc-posi(@BordColor){
        .sna-button-left{
            margin-left:-10px;
            border-right:1px solid @BordColor;
        }
        .sna-button-right{
            margin-right:-10px;
            border-left:1px solid @BordColor;
        }
    }
}
// #mod-buttonIco end
    



