// *******************************/
//    Form Module
// *******************************/
#mod-form{
    .mod-input-color(@Style,@BrColor,@BgColor){
        border:@Style @BrColor;background:@BgColor;
        // css3基础效果
        &.s-css3-base{
            #mod-css3-effect > .css3-base(5px,inset 1px 1px 1px,lighten(@BrColor,10%));
        }
    }
}
// #mod-form end
/* =表单-基础件------ */
    .s-input{
        display:inline-block;
        height:@Size;
        padding-bottom:2px;
        line-height:@Size;
        .s-ic{
            margin:0;
        }
        &.s-css3-base{
            .s-ic{
                #mod-css3-effect > .css3-radius-topleft();
                #mod-css3-effect > .css3-radius-bottomleft();
                &+.s-ipt{
                    #mod-css3-effect > .css3-radius(0 5px 5px 0);
                }
            }
            .s-ipt{
                #mod-css3-effect > .css3-radius-topleft();
                #mod-css3-effect > .css3-radius-bottomleft();
                &+.s-ic{
                    #mod-css3-effect > .css3-radius(0 5px 5px 0);
                }
            }
        }
    }
    .s-textarea{
        width:100%;height:100px;
        padding:7px 5px 8px;
        #mod-form > .mod-input-color(1px solid,#ccc,#fff);
    }
    .s-ipt{
        height:@Size+(-15);
        padding:7px 5px 8px;
        #mod-form > .mod-input-color(1px solid,#ccc,#fff);
        line-height:@Size+(-15);vertical-align:middle;
    }
        
