/*******************************
    Icon Module
*******************************/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-u42xjt');
    src:url('../fonts/icomoon.eot?#iefix-u42xjt') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-u42xjt') format('woff'),
      url('../fonts/icomoon.ttf?-u42xjt') format('truetype'),
      url('../fonts/icomoon.svg?-u42xjt#icomoon') format('svg');
}

#mod-icons{
    .mod-icon-family(){
        font-family: 'icomoon';
        font-style: normal;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
    }
    .mod-icon-list(){
        .sna-icon-iphone{
            &:before{content: "\e600";}
        }
        .sna-icon-mobile{
            &:before{content: "\e601";}
        }
        .sna-icon-mouse{
            &:before{content: "\e602";}
        }
        .sna-icon-directions{
            &:before{content: "\e603";}
        }
        .sna-icon-mail{
            &:before{content: "\e604";}
        }
        .sna-icon-paperplane{
            &:before{content: "\e605";}
        }
        .sna-icon-pencil{
            &:before{content: "\e606";}
        }
        .sna-icon-feather{
            &:before{content: "\e607";}
        }
        .sna-icon-paperclip{
            &:before{content: "\e608";}
        }
        .sna-icon-drawer{
            &:before{content: "\e609";}
        }
        .sna-icon-reply{
            &:before{content: "\e60a";}
        }
        .sna-icon-reply-all{
            &:before{content: "\e60b";}
        }
        .sna-icon-user{
            &:before{content: "\e60c";}
        }
        .sna-icon-users{
            &:before{content: "\e60d";}
        }
        .sna-icon-user-add{
            &:before{content: "\e60e";}
        }
        .sna-icon-vcard{
            &:before{content: "\e60f";}
        }
        .sna-icon-export{
            &:before{content: "\e610";}
        }
        .sna-icon-location{
            &:before{content: "\e611";}
        }
        .sna-icon-map{
            &:before{content: "\e612";}
        }
        .sna-icon-compass{
            &:before{content: "\e613";}
        }
        .sna-icon-location2{
            &:before{content: "\e614";}
        }
        .sna-icon-target{
            &:before{content: "\e615";}
        }
        .sna-icon-share{
            &:before{content: "\e616";}
        }
        .sna-icon-sharable{
            &:before{content: "\e617";}
        }
        .sna-icon-heart{
            &:before{content: "\e618";}
        }
        .sna-icon-heart2{
            &:before{content: "\e619";}
        }
        .sna-icon-star{
            &:before{content: "\e61a";}
        }
        .sna-icon-star2{
            &:before{content: "\e61b";}
        }
        .sna-icon-thumbs-up{
            &:before{content: "\e61c";}
        }
        .sna-icon-thumbs-down{
            &:before{content: "\e61d";}
        }
        .sna-icon-chat{
            &:before{content: "\e61e";}
        }
        .sna-icon-comment{
            &:before{content: "\e61f";}
        }
        .sna-icon-quote{
            &:before{content: "\e620";}
        }
        .sna-icon-house{
            &:before{content: "\e621";}
        }
        .sna-icon-popup{
            &:before{content: "\e622";}
        }
        .sna-icon-search{
            &:before{content: "\e623";}
        }
        .sna-icon-flashlight{
            &:before{content: "\e624";}
        }
        .sna-icon-printer{
            &:before{content: "\e625";}
        }
        .sna-icon-bell{
            &:before{content: "\e626";}
        }
        .sna-icon-link{
            &:before{content: "\e627";}
        }
        .sna-icon-flag{
            &:before{content: "\e628";}
        }
        .sna-icon-cog{
            &:before{content: "\e629";}
        }
        .sna-icon-tools{
            &:before{content: "\e62a";}
        }
        .sna-icon-trophy{
            &:before{content: "\e62b";}
        }
        .sna-icon-tag{
            &:before{content: "\e62c";}
        }
        .sna-icon-megaphone{
            &:before{content: "\e62e";}
        }
        .sna-icon-moon{
            &:before{content: "\e62f";}
        }
        .sna-icon-palette{
            &:before{content: "\e630";}
        }
        .sna-icon-leaf{
            &:before{content: "\e631";}
        }
        .sna-icon-music{
            &:before{content: "\e632";}
        }
        .sna-icon-music2{
            &:before{content: "\e633";}
        }
        .sna-icon-new{
            &:before{content: "\e634";}
        }
        .sna-icon-graduation{
            &:before{content: "\e635";}
        }
        .sna-icon-book{
            &:before{content: "\e636";}
        }
        .sna-icon-newspaper{
            &:before{content: "\e637";}
        }
        .sna-icon-bag{
            &:before{content: "\e638";}
        }
        .sna-icon-airplane{
            &:before{content: "\e639";}
        }
        .sna-icon-lifebuoy{
            &:before{content: "\e63a";}
        }
        .sna-icon-eye{
            &:before{content: "\e63b";}
        }
        .sna-icon-clock{
            &:before{content: "\e63c";}
        }
        .sna-icon-microphone{
            &:before{content: "\e63d";}
        }
        .sna-icon-calendar{
            &:before{content: "\e63e";}
        }
        .sna-icon-bolt{
            &:before{content: "\e63f";}
        }
        .sna-icon-thunder{
            &:before{content: "\e640";}
        }
        .sna-icon-droplet{
            &:before{content: "\e641";}
        }
        .sna-icon-cd{
            &:before{content: "\e642";}
        }
        .sna-icon-briefcase{
            &:before{content: "\e643";}
        }
        .sna-icon-air{
            &:before{content: "\e644";}
        }
        .sna-icon-hourglass{
            &:before{content: "\e645";}
        }
        .sna-icon-gauge{
            &:before{content: "\e646";}
        }
        .sna-icon-language{
            &:before{content: "\e647";}
        }
        .sna-icon-network{
            &:before{content: "\e648";}
        }
        .sna-icon-key{
            &:before{content: "\e649";}
        }
        .sna-icon-battery{
            &:before{content: "\e64a";}
        }
        .sna-icon-bucket{
            &:before{content: "\e64b";}
        }
        .sna-icon-magnet{
            &:before{content: "\e64c";}
        }
        .sna-icon-drive{
            &:before{content: "\e64d";}
        }
        .sna-icon-cup{
            &:before{content: "\e64e";}
        }
        .sna-icon-rocket{
            &:before{content: "\e64f";}
        }
        .sna-icon-brush{
            &:before{content: "\e650";}
        }
        .sna-icon-suitcase{
            &:before{content: "\e651";}
        }
        .sna-icon-cone{
            &:before{content: "\e652";}
        }
        .sna-icon-earth{
            &:before{content: "\e653";}
        }
        .sna-icon-keyboard{
            &:before{content: "\e654";}
        }
        .sna-icon-browser{
            &:before{content: "\e655";}
        }
        .sna-icon-publish{
            &:before{content: "\e656";}
        }
        .sna-icon-progress-3{
            &:before{content: "\e657";}
        }
        .sna-icon-progress-2{
            &:before{content: "\e658";}
        }
        .sna-icon-brogress-1{
            &:before{content: "\e659";}
        }
        .sna-icon-progress-0{
            &:before{content: "\e65a";}
        }
        .sna-icon-sun{
            &:before{content: "\e65b";}
        }
        .sna-icon-sun2{
            &:before{content: "\e65c";}
        }
        .sna-icon-adjust{
            &:before{content: "\e65d";}
        }
        .sna-icon-code{
            &:before{content: "\e65e";}
        }
        .sna-icon-screen{
            &:before{content: "\e65f";}
        }
        .sna-icon-infinity{
            &:before{content: "\e660";}
        }
        .sna-icon-light-bulb{
            &:before{content: "\e661";}
        }
        .sna-icon-credit-card{
            &:before{content: "\e662";}
        }
        .sna-icon-database{
            &:before{content: "\e663";}
        }
        .sna-icon-voicemail{
            &:before{content: "\e664";}
        }
        .sna-icon-clipboard{
            &:before{content: "\e665";}
        }
        .sna-icon-cart{
            &:before{content: "\e666";}
        }
        .sna-icon-box{
            &:before{content: "\e667";}
        }
        .sna-icon-ticket{
            &:before{content: "\e668";}
        }
        .sna-icon-rss{
            &:before{content: "\e669";}
        }
        .sna-icon-signal{
            &:before{content: "\e66a";}
        }
        .sna-icon-thermometer{
            &:before{content: "\e66b";}
        }
        .sna-icon-droplets{
            &:before{content: "\e66c";}
        }
        .sna-icon-uniE66D{
            &:before{content: "\e66d";}
        }
        .sna-icon-statistics{
            &:before{content: "\e66e";}
        }
        .sna-icon-pie{
            &:before{content: "\e66f";}
        }
        .sna-icon-bars{
            &:before{content: "\e670";}
        }
        .sna-icon-graph{
            &:before{content: "\e671";}
        }
        .sna-icon-lock{
            &:before{content: "\e672";}
        }
        .sna-icon-lock-open{
            &:before{content: "\e673";}
        }
        .sna-icon-logout{
            &:before{content: "\e674";}
        }
        .sna-icon-login{
            &:before{content: "\e675";}
        }
        .sna-icon-checkmark{
            &:before{content: "\e676";}
        }
        .sna-icon-cross{
            &:before{content: "\e677";}
        }
        .sna-icon-minus{
            &:before{content: "\e678";}
        }
        .sna-icon-plus{
            &:before{content: "\e679";}
        }
        .sna-icon-cross2{
            &:before{content: "\e67a";}
        }
        .sna-icon-minus2{
            &:before{content: "\e67b";}
        }
        .sna-icon-plus2{
            &:before{content: "\e67c";}
        }
        .sna-icon-cross3{
            &:before{content: "\e67d";}
        }
        .sna-icon-minus3{
            &:before{content: "\e67e";}
        }
        .sna-icon-plus3{
            &:before{content: "\e67f";}
        }
        .sna-icon-erase{
            &:before{content: "\e680";}
        }
        .sna-icon-blocked{
            &:before{content: "\e681";}
        }
        .sna-icon-info{
            &:before{content: "\e682";}
        }
        .sna-icon-info2{
            &:before{content: "\e683";}
        }
        .sna-icon-question{
            &:before{content: "\e684";}
        }
        .sna-icon-help{
            &:before{content: "\e685";}
        }
        .sna-icon-warning{
            &:before{content: "\e686";}
        }
        .sna-icon-cycle{
            &:before{content: "\e687";}
        }
        .sna-icon-cw{
            &:before{content: "\e688";}
        }
        .sna-icon-shuffle{
            &:before{content: "\e68a";}
        }
        .sna-icon-arrow{
            &:before{content: "\e68b";}
        }
        .sna-icon-arrow2{
            &:before{content: "\e68c";}
        }
        .sna-icon-retweet{
            &:before{content: "\e68d";}
        }
        .sna-icon-loop{
            &:before{content: "\e68e";}
        }
        .sna-icon-history{
            &:before{content: "\e68f";}
        }
        .sna-icon-back{
            &:before{content: "\e690";}
        }
        .sna-icon-switch{
            &:before{content: "\e691";}
        }
        .sna-icon-list{
            &:before{content: "\e692";}
        }
        .sna-icon-add-to-list{
            &:before{content: "\e693";}
        }
        .sna-icon-layout{
            &:before{content: "\e694";}
        }
        .sna-icon-list2{
            &:before{content: "\e695";}
        }
        .sna-icon-text{
            &:before{content: "\e696";}
        }
        .sna-icon-text2{
            &:before{content: "\e697";}
        }
        .sna-icon-document{
            &:before{content: "\e698";}
        }
        .sna-icon-docs{
            &:before{content: "\e699";}
        }
        .sna-icon-landscape{
            &:before{content: "\e69a";}
        }
        .sna-icon-pictures{
            &:before{content: "\e69b";}
        }
        .sna-icon-video{
            &:before{content: "\e69c";}
        }
        .sna-icon-music3{
            &:before{content: "\e69d";}
        }
        .sna-icon-folder{
            &:before{content: "\e69e";}
        }
        .sna-icon-archive{
            &:before{content: "\e69f";}
        }
        .sna-icon-trash{
            &:before{content: "\e6a0";}
        }
        .sna-icon-upload{
            &:before{content: "\e6a1";}
        }
        .sna-icon-download{
            &:before{content: "\e6a2";}
        }
        .sna-icon-disk{
            &:before{content: "\e6a3";}
        }
        .sna-icon-install{
            &:before{content: "\e6a4";}
        }
        .sna-icon-cloud{
            &:before{content: "\e6a5";}
        }
        .sna-icon-upload2{
            &:before{content: "\e6a6";}
        }
        .sna-icon-bookmark{
            &:before{content: "\e6a7";}
        }
        .sna-icon-bookmarks{
            &:before{content: "\e6a8";}
        }
        .sna-icon-book2{
            &:before{content: "\e6a9";}
        }
        .sna-icon-play{
            &:before{content: "\e6aa";}
        }
        .sna-icon-pause{
            &:before{content: "\e6ab";}
        }
        .sna-icon-record{
            &:before{content: "\e6ac";}
        }
        .sna-icon-stop{
            &:before{content: "\e6ad";}
        }
        .sna-icon-next{
            &:before{content: "\e6ae";}
        }
        .sna-icon-previous{
            &:before{content: "\e6af";}
        }
        .sna-icon-first{
            &:before{content: "\e6b0";}
        }
        .sna-icon-last{
            &:before{content: "\e6b1";}
        }
        .sna-icon-resize-enlarge{
            &:before{content: "\e6b2";}
        }
        .sna-icon-resize-shrink{
            &:before{content: "\e6b3";}
        }
        .sna-icon-volume{
            &:before{content: "\e6b4";}
        }
        .sna-icon-sound{
            &:before{content: "\e6b5";}
        }
        .sna-icon-mute{
            &:before{content: "\e6b6";}
        }
        .sna-icon-flow-cascade{
            &:before{content: "\e6b7";}
        }
        .sna-icon-flow-branch{
            &:before{content: "\e6b8";}
        }
        .sna-icon-flow-tree{
            &:before{content: "\e6b9";}
        }
        .sna-icon-flow-line{
            &:before{content: "\e6ba";}
        }
        .sna-icon-flow-parallel{
            &:before{content: "\e6bb";}
        }
        .sna-icon-arrow-left{
            &:before{content: "\e6bc";}
        }
        .sna-icon-arrow-down{
            &:before{content: "\e6bd";}
        }
        .sna-icon-arrow-up--upload{
            &:before{content: "\e6be";}
        }
        .sna-icon-arrow-right{
            &:before{content: "\e6bf";}
        }
        .sna-icon-arrow-left2{
            &:before{content: "\e6c0";}
        }
        .sna-icon-arrow-down2{
            &:before{content: "\e6c1";}
        }
        .sna-icon-arrow-up{
            &:before{content: "\e6c2";}
        }
        .sna-icon-arrow-right2{
            &:before{content: "\e6c3";}
        }
        .sna-icon-arrow-left3{
            &:before{content: "\e6c4";}
        }
        .sna-icon-arrow-down3{
            &:before{content: "\e6c5";}
        }
        .sna-icon-arrow-up2{
            &:before{content: "\e6c6";}
        }
        .sna-icon-arrow-right3{
            &:before{content: "\e6c7";}
        }
        .sna-icon-arrow-left4{
            &:before{content: "\e6c8";}
        }
        .sna-icon-arrow-down4{
            &:before{content: "\e6c9";}
        }
        .sna-icon-arrow-up3{
            &:before{content: "\e6ca";}
        }
        .sna-icon-arrow-right4{
            &:before{content: "\e6cb";}
        }
        .sna-icon-arrow-left5{
            &:before{content: "\e6cc";}
        }
        .sna-icon-arrow-down5{
            &:before{content: "\e6cd";}
        }
        .sna-icon-arrow-up4{
            &:before{content: "\e6ce";}
        }
        .sna-icon-arrow-right5{
            &:before{content: "\e6cf";}
        }
        .sna-icon-arrow-left6{
            &:before{content: "\e6d0";}
        }
        .sna-icon-arrow-down6{
            &:before{content: "\e6d1";}
        }
        .sna-icon-arrow-up5{
            &:before{content: "\e6d2";}
        }
        .sna-icon-arrow-right6{
            &:before{content: "\e6d3";}
        }
        .sna-icon-arrow-left7{
            &:before{content: "\e6d4";}
        }
        .sna-icon-arrow-down7{
            &:before{content: "\e6d5";}
        }
        .sna-icon-arrow-up6{
            &:before{content: "\e6d6";}
        }
        .sna-icon-uniE6D7{
            &:before{content: "\e6d7";}
        }
        .sna-icon-arrow-left8{
            &:before{content: "\e6d8";}
        }
        .sna-icon-arrow-down8{
            &:before{content: "\e6d9";}
        }
        .sna-icon-arrow-up7{
            &:before{content: "\e6da";}
        }
        .sna-icon-arrow-right7{
            &:before{content: "\e6db";}
        }
        .sna-icon-menu{
            &:before{content: "\e6dc";}
        }
        .sna-icon-ellipsis{
            &:before{content: "\e6dd";}
        }
        .sna-icon-dots{
            &:before{content: "\e6de";}
        }
        .sna-icon-dot{
            &:before{content: "\e6df";}
        }
        .sna-icon-cc{
            &:before{content: "\e6e0";}
        }
        .sna-icon-cc-by{
            &:before{content: "\e6e1";}
        }
        .sna-icon-cc-nc{
            &:before{content: "\e6e2";}
        }
        .sna-icon-cc-nc-eu{
            &:before{content: "\e6e3";}
        }
        .sna-icon-cc-nc-jp{
            &:before{content: "\e6e4";}
        }
        .sna-icon-cc-sa{
            &:before{content: "\e6e5";}
        }
        .sna-icon-cc-nd{
            &:before{content: "\e6e6";}
        }
        .sna-icon-cc-pd{
            &:before{content: "\e6e7";}
        }
        .sna-icon-cc-zero{
            &:before{content: "\e6e8";}
        }
        .sna-icon-cc-share{
            &:before{content: "\e6e9";}
        }
        .sna-icon-cc-share2{
            &:before{content: "\e6ea";}
        }
        .sna-icon-daniel-bruce{
            &:before{content: "\e6eb";}
        }
        .sna-icon-daniel-bruce2{
            &:before{content: "\e6ec";}
        }
        .sna-icon-github{
            &:before{content: "\e6ed";}
        }
        .sna-icon-github2{
            &:before{content: "\e6ee";}
        }
        .sna-icon-flickr{
            &:before{content: "\e6ef";}
        }
        .sna-icon-flickr2{
            &:before{content: "\e6f0";}
        }
        .sna-icon-vimeo{
            &:before{content: "\e6f1";}
        }
        .sna-icon-vimeo2{
            &:before{content: "\e6f2";}
        }
        .sna-icon-twitter{
            &:before{content: "\e6f3";}
        }
        .sna-icon-twitter2{
            &:before{content: "\e6f4";}
        }
        .sna-icon-facebook{
            &:before{content: "\e6f5";}
        }
        .sna-icon-facebook2{
            &:before{content: "\e6f6";}
        }
        .sna-icon-facebook3{
            &:before{content: "\e6f7";}
        }
        .sna-icon-googleplus{
            &:before{content: "\e6f8";}
        }
        .sna-icon-googleplus2{
            &:before{content: "\e6f9";}
        }
        .sna-icon-pinterest{
            &:before{content: "\e6fa";}
        }
        .sna-icon-pinterest2{
            &:before{content: "\e6fb";}
        }
        .sna-icon-tumblr{
            &:before{content: "\e6fc";}
        }
        .sna-icon-tumblr2{
            &:before{content: "\e6fd";}
        }
        .sna-icon-linkedin{
            &:before{content: "\e6fe";}
        }
        .sna-icon-linkedin2{
            &:before{content: "\e6ff";}
        }
        .sna-icon-dribbble{
            &:before{content: "\e700";}
        }
        .sna-icon-dribbble2{
            &:before{content: "\e701";}
        }
        .sna-icon-stumbleupon{
            &:before{content: "\e702";}
        }
        .sna-icon-stumbleupon2{
            &:before{content: "\e703";}
        }
        .sna-icon-lastfm{
            &:before{content: "\e704";}
        }
        .sna-icon-lastfm2{
            &:before{content: "\e705";}
        }
        .sna-icon-rdio{
            &:before{content: "\e706";}
        }
        .sna-icon-rdio2{
            &:before{content: "\e707";}
        }
        .sna-icon-spotify{
            &:before{content: "\e708";}
        }
        .sna-icon-spotify2{
            &:before{content: "\e709";}
        }
        .sna-icon-qq{
            &:before{content: "\e70a";}
        }
        .sna-icon-instagram{
            &:before{content: "\e70b";}
        }
        .sna-icon-dropbox{
            &:before{content: "\e70c";}
        }
        .sna-icon-evernote{
            &:before{content: "\e70d";}
        }
        .sna-icon-flattr{
            &:before{content: "\e70e";}
        }
        .sna-icon-skype{
            &:before{content: "\e70f";}
        }
        .sna-icon-skype2{
            &:before{content: "\e710";}
        }
        .sna-icon-renren{
            &:before{content: "\e711";}
        }
        .sna-icon-sina-weibo{
            &:before{content: "\e712";}
        }
        .sna-icon-paypal{
            &:before{content: "\e713";}
        }
        .sna-icon-picasa{
            &:before{content: "\e714";}
        }
        .sna-icon-soundcloud{
            &:before{content: "\e715";}
        }
        .sna-icon-mixi{
            &:before{content: "\e716";}
        }
        .sna-icon-behance{
            &:before{content: "\e717";}
        }
        .sna-icon-circles{
            &:before{content: "\e718";}
        }
        .sna-icon-vk{
            &:before{content: "\e719";}
        }
        .sna-icon-smashing{
            &:before{content: "\e71a";}
        }
        .sna-icon-forward{
            &:before{content: "\e71b";}
        }
        .sna-icon-ccw{
            &:before{content: "\e689";}
        }
    }
}
//  #mod-icon end