/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 s-
 */
/* @end **/

// Load-import
@import "button.less";
@import "icon.less";
@import "css3effects.less";
// -----------------------------------

/* =按扭组------- */
    // 基础按扭
    .s-btn{
        @Size:30px;
        display:inline-block;
        padding:5px 10px;
        text-align:center;font-size:12px;text-decoration:none;
        &:hover{
            text-decoration:none;
        }
        #mod-buttonColor > .mod-btn-color(#334D5C,#fff);  // 默认按扭色
        #mod-buttonIco > .mod-buttonIc-posi();
        .s-btn-ic{
            #mod-buttonIco > .mod-btn-ic(@Size);
        }
        #mod-icons > .mod-ic-list;
    }
    // 扁平默认色
    // .s-btn-default{
        // #mod-buttonColor > .mod-btn-color(#334D5C,#fff);
    // }
    // 扁平蓝色系
    .s-btn-blue{
        #mod-buttonColor > .mod-btn-color(#3498db,#fff);
    }
    // 扁平黄色系
    .s-btn-yellow{
        #mod-buttonColor > .mod-btn-color(#ffa324,#fff);
    }
    // 扁平绿色系
    .s-btn-green{
        #mod-buttonColor > .mod-btn-color(#45B29D,#fff);
    }
    // 扁平红色系
    .s-btn-red{
        #mod-buttonColor > .mod-btn-color(#DF5A49,#fff);
    }
    // 不可点状态
    .s-btn-disable{
        cursor:default;
        #mod-buttonColor > .mod-btn-color(#f2f2f2,#dadada);
        &:hover{
            background:#f2f2f2;
        }
    }
    









