/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 sna-
 */
/* @end **/

// Load-import
@import "button.less";
@import "css3effects.less";
// -----------------------------------


/* =按扭组------- */
    // 基础按扭
    .sna-button{
        display:inline-block;*display:inline;zoom:1;
        padding:5px 10px;
        text-align:center;font-size:14px;text-decoration:none;
        &:hover{
            text-decoration:none;
        }
    }
    // 带小图标按扭
    .sna-button-icon{
        display:inline-block;*display:inline;zoom:1;
        padding:2px 10px 0 10px;
        text-align:center;font-size:14px;text-decoration:none;
        &:hover{
            text-decoration:none;
        }
        .sna-button-ic{
            #mod-buttonIco > .mod-button-ic;
        }
    }
    // 灰色系
    .sna-button-gray{
        #mod-buttonColor > .mod-button-gradientColor(#ffffff,#efefef,gray);
    }
    // 红色系
    .sna-button-red{
        #mod-buttonColor > .mod-button-gradientColor(#f44242,#d40f0f,#fff);
    }
    // 扁平蓝色系
    .sna-button-flatBlue{
        #mod-buttonColor > .mod-button-flatColor(#009bdd,#fff);
    }
    // 扁平黄色系
    .sna-button-flatYellow{
        #mod-buttonColor > .mod-button-flatColor(#ffd72d,#fff);
    }
    // 扁平绿色系
    .sna-button-flatGreen{
        #mod-buttonColor > .mod-button-flatColor(#14aa00,#fff);
    }
    // 扁平红色系
    .sna-button-flatRed{
        #mod-buttonColor > .mod-button-flatColor(#d31e01,#fff);
    }
    // 不可点状态
    .sna-button-disable{
        cursor:default;
        #mod-buttonColor > .mod-button-flatColor(#f2f2f2,#dadada);
    }
    









