/**
 *  @project       : Snake UI
 *  http://wendellvian.github.io/snakeUI/
 *  Copyright 2013 Contributors
 * 
 *	@author        : Wendell
 *	@version       : v1.0
 *  @description   : 定制前缀 s-
 */
/* @end **/

// Load-import-begin-------------------- //
// reset
@import "browsereset.less";
// 字体图标
@import "icon.less";
// css3效果
@import "css3effects.less";
// 按扭
@import "button.less";
// 表单
@import "form.less";
// Load-import-end-------------------- //

// initial-begin-----------------------------//
// 按扭图标大小，决定按扭大小
@Size:30px;
// 按扭颜色
@DefaultColor:#334D5C;  // 默认色
@BlueColor:#3498db;  // 蓝色
@YellowColor:#ffa324; // 黄色
@GreenColor:#45B29D; // 绿色
@RedColor:#DF5A49;  // 红色
@DisableColor:#f2f2f2;  // 不可点击色
// initial-end-----------------------------//





